[Unit]
Description = Backend Service

[Service]
User=expense
WorkingDirectory=/app
Environment=DB_HOST="mysql-{{env}}.vikramdevops.tech"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target