[Unit]
Description = Node Exporter Service

[Service]
User=prometheus
WorkingDirectory=/opt/node_exporter-1.8.1.linux-amd64
ExecStart=/opt/node_exporter-1.8.1.linux-amd64/node_exporter
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target